body{
    font-family: 'Crimson Text', serif;
}

a:visited, a:link, a:active {
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: #000;
}

img {
    width: 100%;
    height: auto;
}

.wrapper {
    width: 90%;
}

.active {
    color: green;
}

.language {
    float: right;
    margin-right: 5px;
    text-align: right;
    width: 100px;
}

.pageTitle {
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 10px;
    border-bottom: 2px solid #000;
}

.article-body {
    width: 90%;
    margin: 0 0 20px 10px;
    border-bottom: 1px solid #ccc;
    padding: 10px;
}

.byline {
    text-align: left;
    color: #666;
}

.headline , .headline a{
    font-size: 2em;
    color: #000;
}

.summary {
    font-size: 1em;
}

.load-more {
    text-align: center;
    float: left;
    clear:both;
    margin: 0 47% 40px;
    text-transform: uppercase;
}

#app {
    margin: 0 30px 0 30px;
}

@media screen and (min-width: 660px) {
    .article-body {
        width: 40%;
        margin: 0 0 20px 15px;
        border-bottom: 1px solid #ccc;
        float: left;
    }

    .byline {
        text-align: right;
        color: #666;
    }

    .language {
        width: 200px;
    }

}

@media screen and (min-width: 1300px) {
    .article-body {
        height: 600px;
        margin: 0 10px 20px 15px;
        float: left;
    }

}